.searchContainer {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.inputGroup {
    width: 100%;
    max-width: 500px;
}

.searchInput {
    border-radius: 5px 0 0 5px;
    padding: 10px;

    &:focus {
        box-shadow: none !important;
        outline: none !important;
    }
}

.searchButton {
    border-radius: 0 5px 5px 0;
    padding: 10px 20px;
    background-color: #ff6b6b;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;

    &:hover {
        background-color: #0056b3;
    }
}